@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {

    background: linear-gradient(90deg, rgba(109, 103, 204, 1) 0%, rgba(138, 138, 196, 1) 21%, rgba(0, 212, 255, 1) 100%);

}


#navbar{

    background-color: rgb(51, 53, 54);
    font-family: 'Lobster', cursive;


}



#img-container {
    
    font-family: "Courier New";
    text-align: center;
    align-items: center;



}

#image {

    width: 50%;
    width: 50%;

}