#titolo{
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
    
}
body{
    background:  linear-gradient(90deg, rgba(109, 103, 204, 1) 0%, rgba(138, 138, 196, 1) 21%, rgba(0, 212, 255, 1) 100%);

}