body{
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);



}
#titolo{
    color: rgb(26, 252, 18);
    text-align: center;
    text-decoration: underline; 
    font-size: 300%;
    font-family: arial;
}

h2{
    
    color: black;
    text-align: center;
    font-size: 170%;
    font-family: arial;
}