#titolo{
    color: rgb(26, 252, 18);
    text-align: center;
    text-decoration: underline; 
    font-size: 300%;
    font-family: arial;
}

#console{
    color: black;
    font-size: 170%;
    font-family: Arial;
    text-align: center;
}

#Periferiche{
    color: black;
    text-align: center;
    font-size: 170%;
    font-family: arial;
}