@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


#titolo{

    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 55px;
}

#pc-big{

    background: ;
    width: 50%;
    height: 50%;



}