@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


#titolo {

    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 55px;
}

body {

    background: rgb(109, 103, 204);
    background: linear-gradient(90deg, rgb(109, 103, 204) 0%, rgb(138, 138, 196) 21%, rgba(0, 212, 255, 1) 100%);


}

.pc-img {

    width: 200px;
    height: auto;

}


.cpu-img {

    width: 200px;
    height: auto;

}

.logo {
    display: block;
    margin: 0 auto;
}


h1 {

    font-family: 'Oswald', sans-serif;


}

h2 {

    font-family: 'Oswald', sans-serif;
    font-size: 15px;


}